absl-py==2.3.1
accelerate==1.9.0
ag2==0.9.9
agent @ file:///Users/priyanshu/Documents/GitHub/gemini-fullstack-langgraph-quickstart/backend
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.60.0
anyio==4.9.0
appnope==0.1.4
arrow==1.3.0
arxiv==2.2.0
asgiref==3.9.1
asttokens==3.0.0
asyncer==0.0.8
attrs==25.3.0
autogen==0.9.6
av==14.4.0
babel==2.17.0
backoff==2.2.1
backrefs==5.9
bandit==1.7.10
banks==2.2.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
binaryornot==0.4.4
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blockbuster==1.5.24
boltons==21.0.0
bracex==2.6
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.3
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
chromedriver-autoinstaller==0.6.4
cleo==2.1.0
click==8.1.3
click-option-group==0.5.7
cloudpickle==3.1.1
codespell==2.4.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
cookiecutter==2.6.0
coverage==7.9.2
crashtest==0.4.1
cryptography==44.0.3
csscompressor==0.9.5
cssselect==1.3.0
cssselect2==0.8.0
curl_cffi==0.12.0
cyclic==1.0.0
dataclasses-json==0.6.7
debugpy==1.8.14
decorator==5.2.1
deepdiff==6.7.1
deepeval==3.3.3
defusedxml==0.7.1
Deprecated==1.2.18
detect-secrets==1.5.0
dill==0.4.0
dirty-equals==0.9.0
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docling==2.43.0
docling-core==2.44.0
docling-ibm-models==3.9.0
docling-parse==4.1.0
docopt==0.6.2
docstring_parser==0.16
docx2txt==0.9
duckduckgo_search==8.0.4
dulwich==0.22.8
durationpy==0.10
easyocr==1.7.2
emoji==2.14.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.2.0
face==24.0.0
FalkorDB==1.2.0
fastagency==0.9.7
fastapi==0.116.1
fastjsonschema==2.21.1
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.18.0
filetype==1.2.0
findpython==0.6.3
fire==0.7.0
fix-busted-json==0.0.18
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.58.4
forbiddenfruit==0.1.4
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.5.1
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
glom==22.1.0
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-auth==2.40.3
google-genai==1.21.1
googleapis-common-protos==1.70.0
graphrag_sdk==0.8.0
greenlet==3.2.3
griffe==1.7.3
groq==0.30.0
grpcio==1.73.0
grpcio-status==1.73.0
gunicorn==23.0.0
h11==0.14.0
hatch==1.14.1
hatchling==1.27.0
hf-xet==1.1.5
hjson==3.1.0
html2text==2024.2.26
html5lib==1.1
htmldocx==0.0.6
htmlmin2==0.1.13
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-aiohttp==0.1.6
httpx-sse==0.4.0
huggingface-hub==0.34.2
humanfriendly==10.0
hyperlink==21.0.0
identify==2.6.12
idna==3.10
imageio==2.37.0
importlib_metadata==7.1.0
importlib_resources==6.5.2
iniconfig==2.1.0
installer==0.7.0
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jieba3k==0.35.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.1
jsmin==3.0.1
json5==0.12.0
json_repair==0.47.3
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jsonschema_rs==0.29.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==33.1.0
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.72
langchain-google-genai==2.1.5
langchain-ollama==0.3.3
langchain-openai==0.3.11
langchain-text-splitters==0.3.8
langdetect==1.0.9
langgraph-api==0.2.64
langgraph-checkpoint==2.0.23
langgraph-cli==0.3.3
langgraph-prebuilt==0.1.7
langgraph-runtime-inmem==0.3.3
langgraph-sdk==0.1.60
langsmith==0.4.8
latex2mathml==3.78.0
lazy_loader==0.4
litellm==1.74.12
livekit==1.0.11
livekit-agents==1.0.11
livekit-api==1.0.3
livekit-plugins-deepgram==1.0.11
livekit-plugins-openai==1.0.11
livekit-plugins-silero==1.0.11
livekit-protocol==1.0.4
llama-cloud==0.1.32
llama-cloud-services==0.6.43
llama-index==0.12.52
llama-index-agent-openai==0.4.12
llama-index-cli==0.4.4
llama-index-core==0.12.52.post1
llama-index-embeddings-huggingface==0.5.3
llama-index-embeddings-openai==0.3.1
llama-index-graph-stores-neo4j==0.4.6
llama-index-indices-managed-llama-cloud==0.7.10
llama-index-instrumentation==0.3.0
llama-index-llms-langchain==0.6.1
llama-index-llms-openai==0.4.7
llama-index-multi-modal-llms-openai==0.5.3
llama-index-program-openai==0.3.2
llama-index-question-gen-openai==0.3.1
llama-index-readers-file==0.4.11
llama-index-readers-llama-parse==0.4.0
llama-index-readers-web==0.3.9
llama-index-vector-stores-chroma==0.4.1
llama-index-vector-stores-mongodb==0.6.0
llama-index-workflows==1.2.0
llama-parse==0.6.43
llama_stack_client==0.2.15
loguru==0.7.3
lxml==5.4.0
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
markdown2==2.5.3
markdownify==0.14.1
# Editable install with no version control (market_research_and_competative_analysis==0.1.0)
-e /Users/priyanshu/Documents/GitHub/workshop-material/module8_real_world_application/market_research_and_competative_analysis
marko==2.1.4
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib-inline==0.1.7
mcp==1.12.1
md2pdf==1.0.1
mdurl==0.1.2
mdx-include==1.4.2
mergedeep==1.3.4
mesop==0.14.1
mike==2.1.3
mistune==3.1.3
mkdocs==1.6.1
mkdocs-autorefs==1.4.2
mkdocs-get-deps==0.2.0
mkdocs-git-revision-date-localized-plugin==1.4.7
mkdocs-glightbox==0.4.0
mkdocs-literate-nav==0.6.2
mkdocs-macros-plugin==1.3.7
mkdocs-material==9.6.16
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
mkdocs-redirects==1.2.2
mkdocstrings==0.30.0
mkdocstrings-python==1.16.12
mmh3==5.1.0
mock==5.2.0
monotonic==1.6
more-itertools==10.7.0
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.1
multidict==6.5.0
multiprocess==0.70.18
multitasking==0.0.11
# Editable install with no version control (my_app==0.1.0)
-e /Users/priyanshu/Documents/GitHub/workshop-material/module7/my_app
mypy==1.17.1
mypy_extensions==1.1.0
narwhals==2.1.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neo4j==5.28.2
nest-asyncio==1.6.0
networkx==3.5
newspaper3k==0.2.8
ninja==1.11.1.4
nltk==3.9.1
nodeenv==1.9.1
numpy==2.2.6
oauthlib==3.3.1
olefile==0.47
ollama==0.5.1
onnxruntime==1.22.0
openai==1.99.3
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.56b0
opentelemetry-instrumentation-fastapi==0.56b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.46b0
ordered-set==4.1.0
orjson==3.10.16
ormsgpack==1.9.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
paginate==0.5.7
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pbr==7.0.0
pbs-installer==2025.6.12
pdoc3==0.11.6
peewee==3.18.2
pexpect==4.9.0
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==4.3.8
playwright==1.54.0
pluggy==1.5.0
poetry==2.1.3
poetry-core==2.1.3
portalocker==3.2.0
posthog==3.25.0
pre_commit==4.3.0
primp==0.15.0
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyaml==25.7.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.8.1
pydantic_core==2.33.2
pydeck==0.9.1
pydyf==0.11.0
pyee==13.0.0
pyfiglet==1.0.3
Pygments==2.19.1
PyJWT==2.10.1
pylatexenc==2.10
pymdown-extensions==10.16
pymongo==4.13.2
PyMuPDF==1.26.1
pyparsing==3.2.3
pypdf==5.9.0
pypdfium2==4.30.0
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-mypy-plugins==3.1.2
pytest-repeat==0.9.4
pytest-rerunfailures==12.0
pytest-xdist==3.8.0
python-abc==0.2.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-iso639==2025.2.18
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-pptx==1.0.2
python-slugify==8.0.4
pytz==2025.2
pyupgrade==3.20.0
pyupgrade-directories==0.3.0
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==27.0.0
quarto==0.1.0
RapidFuzz==3.13.0
ratelimit==2.2.1
rcslice==1.1.0
redis==5.3.1
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.3
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.5.3
rpds-py==0.25.1
rsa==4.9.1
rtree==1.4.0
ruamel.yaml==0.17.40
ruff==0.12.8
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.16.1
selenium==4.34.2
semchunk==2.2.2
semgrep==1.95.0
sentence-transformers==5.0.0
sentry-sdk==2.34.1
setuptools==80.9.0
sgmllib3k==1.0.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.2
soupsieve==2.7
spider-client==0.0.27
SQLAlchemy==2.0.41
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.46.1
stevedore==5.4.1
streamlit==1.48.1
striprtf==0.0.26
structlog==25.4.0
super_collections==0.5.3
sympy==1.14.0
tabulate==0.9.0
tavily-python==0.7.10
tenacity==8.5.0
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
tifffile==2025.6.11
tiktoken==0.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tinysegmenter==0.3
tldextract==5.3.0
tokenize_rt==6.2.0
tokenizers==0.21.2
toml==0.10.2
tomli==2.0.2
tomli_w==1.2.0
tomlkit==0.13.3
torch==2.7.1
torchvision==0.22.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.54.0
trio==0.30.0
trio-websocket==0.12.2
trove-classifiers==2025.5.9.12
truststore==0.10.1
typer==0.16.0
types-cffi==1.17.0.20250805
types-decorator==5.2.0.20250324
types-Deprecated==1.2.15.20250304
types-docutils==0.22.0.20250814
types-protobuf==4.25.0.20240417
types-pycurl==7.45.6.20250801
types-Pygments==2.19.0.20250809
types-pyOpenSSL==24.1.0.20240722
types-python-dateutil==2.9.0.20250809
types-PyYAML==6.0.12.20250516
types-requests==2.32.4.20250611
types-setuptools==80.9.0.20250801
types-tabulate==0.9.0.20241207
types-ujson==5.10.0.20250326
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.14.1
tzdata==2025.2
unstructured==0.17.2
unstructured-client==0.37.1
urllib3==2.5.0
userpath==1.9.2
uv==0.8.8
uvicorn==0.34.0
uvloop==0.21.0
verspec==0.1.0
virtualenv==20.31.2
watchdog==6.0.0
watchfiles==1.1.0
wcmatch==8.5.2
wcwidth==0.2.13
weasyprint==65.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
wikipedia==1.4.0
win32_setctime==1.2.0
wrapt==1.17.2
wsproto==1.2.0
xattr==1.1.4
xlsxwriter==3.2.5
xxhash==3.5.0
yarl==1.20.1
yfinance==0.2.65
zipp==3.23.0
zopfli==0.2.3.post1
zstandard==0.23.0
